p {
    font-size: 16px;
    color: #333;
    text-align: center;
}

#title {
    color: purple;
    text-align: center;
    font-weight: bold;
}

.centerImg {
display: block;
margin-left:auto;
margin-right: auto;
}

.info-box {
    background-color: #f2f2f2;
    color: #000;
    padding: 20px;        
    border: 2px solid #333;
    margin: 30px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: inline;
    margin: 0 15px;
    text-decoration: none;
    color: grey;
    font-weight: bold;
}










